{% extends 'base.html' %}
    {% load static %}
{% block title %}歡迎使用Rate Notify{% endblock %}

{% block container %}

		<script type="text/javascript" src="{% static './js/d3.v3.min.js' %}"></script>
		<style type="text/css">
			html, body{ width: 100%; height: 100%; padding: 0; margin: 0; }
            .content{
              display: block; width: 100%; height: 100%;
              min-width: 300px; max-width: 960px; max-height: 500px; overflow: hidden;
            }
			path {
                 	stroke: DodgerBlue;
                 	stroke-width: 2;
                 	fill: none;
                 }
                 .axis {
                 	font-size: 11px;
                 	fill: gray;
                 }
                 .x.axis line {
                   stroke: lightgrey;
                 }
                 .x.axis .minor {
                   stroke-opacity: .5;
                 }
                 .x.axis path {
                   stroke: #fafafa;
                 }
                 .y.axis line, .y.axis path {
                   fill: none;
                   stroke: lightgrey;
                 }
			     .MyCircle {
                   fill: #FCAD62;
                 }
			tooltip{
				  font-size: 11px;
                  fill: gray;
				 }
		    .overlay {
                fill: none;
                pointer-events: all;
                 }
			.focus line{
			    stroke: steelblue;
				stroke-width: 1;
			}
			.datatxt{
			    font-size: 11px;
                fill: gray;
			}
			.path2{
			        stroke: Yellow;
                 	stroke-width: 2;
                 	fill: none;
			}
			.tips {
              pointer-events: none;
              /*display: none;*/
            }
            .tips-border {
              fill: #F3E4E4;
              stroke: gray;        
              stroke-width: 2;
            }
            .content{
            	display: block;
                width: 100%;
                height: 100%;
                min-width: 300px;
                max-width: 960px;
                max-height: 500px;
                overflow: hidden;
            }
		</style>
<div id="content">		
<section id='container'>
	<select id="s1" onchange='myFunction()'>
      <option>六個月</option>
      <option selected="selected">三個月</option>
    </select>
	<br/>
	<div class='content'>
	    <svg class='svg'></svg>
	</div>
	<script type="text/javascript">
		
			var margin = {top: 60, right: 60, bottom: 60, left: 60};
            var w = parseInt(d3.select(".content").style("width"), 10) - (margin.left + margin.right);
			var h = parseInt(d3.select(".content").style("height"), 10) - (margin.top + margin.bottom);
			//var w = 580
			//var h = 300
			var wtip = 130;
			var htip = 50;
			var Ymd = d3.time.format("%Y-%m-%d")
			var scalearr = []
			var customTimeFormat = d3.time.format.multi([
                  ["%a %d", function(d) { return d.getDay() && d.getDate() != 1; }],
                  ["%b %d", function(d) { return d.getDate() != 1; }],
                  ["%B", function(d) { return d.getMonth(); }],
                  ["%Y", function() { return true; }]
                  ]);
			var parseDate = d3.time.format("%Y-%m-%d").parse;
			
			var xScale = d3.time.scale()
                 .range([0, w]);
            var yScale = d3.scale.linear()
			     .range([h, 0]);
			var yAxisLeft = d3.svg.axis().scale(yScale).ticks(4).orient('left');
            var xAxis = d3.svg.axis().scale(xScale)
			                             .orient('bottom')
			    						 .tickSize(-h)
			    						 .tickSubdivide(true)
			    						 .tickFormat(customTimeFormat);
			var yAxis = d3.svg.axis().scale(yScale)
			                             .tickSubdivide(true)
			                             .orient('left')
										 .tickSize(-w,0);
										 
			//增加一個SVG元素
			var svg = d3.select('svg')
                	.attr('width', w + margin.left + margin.right) //將左右補滿
                	.attr('height', h + margin.top + margin.bottom) //上下補滿
                	.append('g') //增加一個群組g，一定要有這個群組g
                	.attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');
									 
			
			var title = svg.append('text')
               .attr('class', 'title')
               .text('美金歷史匯率')
               .attr('x', w / 2)
               .attr('y', 0);
			// SVG加入x軸線
            svg.append('g')
                .attr('class', 'x axis')
				.append('text')
				.attr('class','xlabel')
				.text('日期')
				.attr('transform', 'translate(' + w + ', 0)');
			
			svg.append('g')
                	.attr('class', 'y axis')
					.append('text')
					.text('匯率');
			
			svg.append('path')
			   .attr('class','path');
			   
			svg.append('path')
			   .attr('class','path2')
			   
			svg.append("circle")
			   .attr("class","MyCircle")
			

            //加一個長方形拿來放指標			
			svg.append("rect")
			    .attr("class", "overlay")
				.on("mouseout", function() { focus.style("display", "none"); 
				                             txt.style("display","none");
											 tips.style("display","none");
				})
				.on("mouseover", function() { focus.style("display", null);
				                              txt.style("display", null);
											  tips.style("display",null); 
				})
			   
			var focus =svg.append('g') 
			              .attr("class", "focus")
                          .style("display", "none");
			
			focus.append('line')
			     .attr({
			    x1:0,
				y1:0,
				x2:0,
				y2:h,
			})
			
			//下方變動字串
			var txt = svg.append('text')
			             .attr("class","datatxt")
		                 .attr("x", 9)
                         .attr("dy", ".35em")
			             .attr("transform", "translate(" + margin.left + "," + (h + 20) + ")")
			
			
			

            var tips = svg.append('g')
			              .attr('class', 'tips')
						  .attr('display','none');
             
            tips.append('rect')
              .attr('class', 'tips-border')
              .attr('width', wtip)
              .attr('height', htip)
              .attr('rx', 10)
              .attr('ry', 10);
             
            var wording1 = tips.append('text')
              .attr('class', 'tips-text')
              .attr('x', 10)
              .attr('y', 20)
              .text('');
             
            var wording2 = tips.append('text')
              .attr('class', 'tips-text')
              .attr('x', 10)
              .attr('y', 40)
              .text('');
			   
			  
			function myFunction() {
                   var x = document.getElementById("s1").value;
                   if(x == "六個月"){
					   //drawpic('BKTW_2016-07-01_USD.csv');
					   drawpic("{% static './BKTW_2016-07-01_USD.csv'%}");
				   }else{
				       //drawpic('BKTW_2016-10-01_USD.csv');
				       drawpic("{% static './BKTW_2016-10-01_USD.csv'%}");
				   }
            }
			
			
			function rendering(){
			    console.log('rendering');
			    w = parseInt(d3.select(".content").style("width"), 10) - (margin.left + margin.right);
			    h = parseInt(d3.select(".content").style("height"), 10) - (margin.top + margin.bottom);
				myFunction();
			}
			
			
			function drawpic(sourcestr){
			    d3.csv(sourcestr,function(data) {
				  
				  data.forEach(function(d) {
                        d.date = parseDate(d.date);
                        d.spotbuy = +d.spotbuy;
                  });
				  //console.log(data)
				scalearr=[]  
				scalearr.push(d3.max(data,function(d){ return d.spotbuy }))
				scalearr.push(d3.max(data,function(d){ return d.spotsell }))
				scalearr.push(d3.min(data,function(d){ return d.spotbuy }))
				scalearr.push(d3.min(data,function(d){ return d.spotsell }))
		    
                //var xScale = d3.scale.linear().domain([0, dataset.length]).range([0, w]);
			    xScale.domain(d3.extent(data, function(d) { return d.date; }))
				      .range([0, w])
                yScale.domain(d3.extent(scalearr))
				      .range([h, 0])
				yAxisLeft = d3.svg.axis().scale(yScale).ticks(4).orient('left').tickSize(-w,0);
			    // 增加x軸線，tickSize是軸線的垂直高度，-h會往上拉高
                // tickSubdivide不清楚是什麼用處
                xAxis = d3.svg.axis().scale(xScale)
			                             .orient('bottom')
			    						 .tickSize(-h)
			    						 .tickSubdivide(true)
			    						 .tickFormat(customTimeFormat);
			    
			    yAxis = d3.svg.axis().scale(yScale)
			                             .orient('left');
			    		
			    
				
				
                svg.select('.x.axis')
				   .transition()
                   .duration(1000)
				   .attr('transform', 'translate(0,' + h + ')')
				   .call(xAxis)
				   
				title.attr('x', w / 2)
                     .attr('y', 0);
					 
				svg.select('.xlabel')
				   .attr('transform', 'translate(' + w + ', 0)')
				
                // SVG加入y軸線
                svg.select('.y.axis')
				    .transition()
                    .duration(1000)
                	.attr('transform', 'translate(0,0)')
                	.call(yAxisLeft);
			    
				
                // 增加一個line function，用來把資料轉為x, y
                var line = d3.svg.line()
                	.x(function(d) {
                		return xScale(d.date); //利用尺度運算資料索引，傳回x的位置
                	})
                	.y(function(d) {
                		return yScale(d.spotbuy); //利用尺度運算資料的值，傳回y的位置
                	});
					
				var line2 = d3.svg.line()
                	.x(function(d) {
                		return xScale(d.date); //利用尺度運算資料索引，傳回x的位置
                	})
                	.y(function(d) {
                		return yScale(d.spotsell); //利用尺度運算資料的值，傳回y的位置
                	});
                //增加一個SVG元素
                
                
			    
			                    
                
                svg.select(".path")
				    .transition()
                    .duration(1000)
			        .attr('d', line(data)) //將資料套用d3.svg.line()	
					
				svg.select(".path2")
				    .transition()
                    .duration(1000)
			        .attr('d', line2(data)) //將資料套用d3.svg.line()
			        
	             svg.select(".overlay")				
				   .attr("width", xScale(d3.max(data,function(d){ return  d.date })))
                   .attr("height", yScale(d3.min(data,function(d){ return d.spotbuy;})))
				   
				   .on("mousemove",function(d){ 
				         focus.attr("transform","translate(" + d3.mouse(this)[0] + ")");
						 var bisect = d3.bisector(function(d){
						     return d.date; 
							 }).left
						 var ind = bisect(data,Ymd.parse(Ymd(xScale.invert(d3.mouse(this)[0]))))
						// txt.text(Ymd(xScale.invert(d3.mouse(this)[0])) + ' spotbuy:' + data[ind].spotbuy);
						 var x1 = d3.mouse(this)[0] + wtip > w ? d3.mouse(this)[0] - wtip : d3.mouse(this)[0]
						 var y1 = d3.mouse(this)[1] + htip > h ? d3.mouse(this)[1] - htip : d3.mouse(this)[1]
						 d3.select(".tips").attr("display",null)
						 //tips.attr("transform","translate(" + d3.mouse(this)[0] + "," +  d3.mouse(this)[1] + ")");
						 tips.attr("transform","translate(" + x1 + "," + y1 + ")");
						 wording1.text(Ymd(xScale.invert(d3.mouse(this)[0])));
						 wording2.text("spotbuy:" + data[ind].spotbuy)
						 }) ;	
			
                });
			}
			
			
			d3.select(window).on('resize', rendering);
			d3.select(window).on('load', myFunction);
			
			
			
        </script>
{% endblock %}

</section>
</div>      